p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.postCard {
  background-color: rgb(184, 184, 184);
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  max-width: 700px;
  border-radius: 20px;
  padding: 20px;
  gap: 16px;
  margin: 16px;
  display: block;
}

.posts {
  display: flex;
  justify-content: flex-start;
}

.like {
  border-radius: 5px;
  border: 0;
  background: rgba(91, 91, 91, 0.6078431373);
  padding: 6px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: transform 1s ease;
}
.like:hover {
  background-color: #4b4b4b;
  transform: rotate(1800deg);
}